.CreditCardForm {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.CVCField {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
}

.ExpiryDateField {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    float: right;
}

.row {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.left {
    width: 67%;
}

.right {
    width: 33%;
}