.Nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: black;
}

.NavIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    color: white;
    background-color: black;
    margin-left: 10px;
}

.SidebarText {
    text-align: center;
    color: white;
}

.SidebarNav {
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
}
